@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
    font-family: 'Noto Sans', sans-serif;
 }

 html{
    scroll-behavior: smooth;
 }

 footer  li:hover{
   color: red;
   cursor: pointer;
 }

.active {
   @apply bg-white text-red-500 
}